.drag {
	background: #777;
	background: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition:background 0.2s ease-in;  
   -moz-transition:background 0.2s ease-in;  
   -o-transition:background 0.2s ease-in;  
   transition:background 0.2s ease-in;  
}

.dragY {
	width: 10px;
	right: 0px;
	width: 10px;
}

.dragX {
	height: 10px;
	top: 0px;
	height: 10px;
}

.dragConY {
	width: 0px;
	top: 5px;
	bottom: 5px;
	padding: 0px 5px;
	right: 5px;
}

.dragConX {
	height: 0px;
	padding: 5px 0px;
	left: 5px;
	right: 5px;
	overflow: visible;
	bottom: 5px;
}

.scrollRoot:hover .drag {
	background: #555;
	background: rgba(0, 0, 0, 0.7);
}